.container {
    padding: 10px;
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .table, .history-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table thead, .history-table thead, .table th {
    background-color: #69693e;
    color: rgb(255, 255, 255);
  }
  
  .table th, .table td, .history-table th, .history-table td {
    padding: 12px;
    text-align: center;
  }
  
  .table tr:nth-child(even), .history-table tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  .button{
    background-color: #28a745;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .modal-button{
    background-color: #28a745;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
  }
  
  .button:hover, .modal-button:hover {
    background-color: #3d4d42;
  }
  
  .details-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: rgb(177, 179, 147);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 2px solid #0f0d0d;
    border-radius: 10px;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }

 /* Paginación */

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
  }